/* Art Page Styles */
   
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 1rem;
	text-align: center;
}
.image-grid img {
    width: calc(50% - 10px);
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}
